<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Jogos</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>Lista de Jogos</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Lançamento</th>
                <th>Nota</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="jogo : ${jogos}">
                <td th:text="${jogo.idJogo}"></td>
                <td th:text="${jogo.nome}"></td>
                <td th:text="${jogo.descricao}"></td>
                <td th:text="${jogo.preco}"></td>
                <td th:text="${jogo.lancamento}"></td>
                <td th:text="${jogo.nota}"></td>
                <td><img th:src="@{${jogo.imagePath}}" alt="Imagem do jogo" width="100"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
